<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная Страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
    <header>
        <h1>Добро пожаловать на наш сайт</h1>
        <p>Здесь вы сможете управлять своими финансами и следить за обновлениями!</p>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('news') }}">Новости</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('profile') }}">Профиль</a></li>
                <li><a href="{{ url_for('finance') }}">Финансы</a></li>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('registration') }}">Авторизация</a></li>
            {% else %}
                <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        <section>
            <h2>О сайте</h2>
            <p>
                Наш сайт поможет вам легко и эффективно управлять вашими личными финансами.
                После регистрации и авторизации вы получите доступ к индивидуальному профилю, 
                а также к разделу "Финансы", где сможете создавать категории расходов, 
                добавлять траты и следить за своими расходами.
            </p>
                   
    </main>
</body>
</html>
